{% extends 'mailings/base.html' %}
{% block content %}
<div class="container mt-5">
        <h1 class="text-center mb-4">Описание рассылки</h1>
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Дата начала рассылки:</strong> {{object.start_time}}</li>
                    <li class="list-group-item"><strong>Дата окончания рассылки:</strong> {{object.end_time}}</li>
                    <li class="list-group-item"><strong>Статус рассылки:</strong>
                        {% if object.status == "CREATED" %}
                        Создана
                        {% elif object.status == "STARTED" %}
                        Запущена
                        {% elif object.status == "FINISHED" %}
                        Завершена
                        {% endif %}
                        </li>
                    <li class="list-group-item"><strong>Тема сообщения:</strong> {{object.message.subject}}</li>
                    <li class="list-group-item"><strong>Тело сообщения:</strong> {{object.message.body}}</li>
                    <li class="list-group-item"><strong>Пользователь системы рассылки:</strong> {{object.owner}}.</li>
                </ul>
                <div class="card-body">
                    <div class="mb-3">
                        {% if user == object.owner %}
                        <a class="btn btn-primary btn-sm me-2" href="{% url 'mailings:MailingAttempt' object.pk %}">Начать рассылку</a>
                        <a class="btn btn-primary btn-sm me-2" href="{% url 'mailings:MailingUpdateView' object.pk %}">Редактировать</a>
                        <a class="btn btn-danger btn-sm me-2" href="{% url 'mailings:MailingDeleteView' object.pk %}">Удалить</a>
                        {% endif %}

                        {% if user == object.owner or perms.mailings.can_disable_mailings %}
                            <form method="post" class="d-inline">
                                {% csrf_token %}
                                {% if object.is_active %}
                                <button type="submit" class="btn btn-warning btn-sm">Отключить рассылку</button>
                                {% else %}
                                <button type="submit" class="btn btn-success btn-sm">Включить рассылку</button>
                                {% endif %}
                            </form>
                        {% endif %}

                        <a href="{% url 'mailings:MailingListView' %}" class="btn btn-secondary btn-sm">Назад к списку</a>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}