{% extends 'mailings/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container mt-5">
        <h1 class="text-center mb-4">Описание рассылки</h1>
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Дата начала рассылки:</strong> {{object.start_time}}</li>
                    <li class="list-group-item"><strong>Дата окончания рассылки:</strong> {{object.end_time}}.</li>
                    <li class="list-group-item"><strong>Статус рассылки:</strong> {{object.status}}.</li>
                    <li class="list-group-item"><strong>Тема сообщения:</strong> {{object.message.subject}}</li>
                    <li class="list-group-item"><strong>Тело сообщения:</strong> {{object.message.body}}</li>
                    <li class="list-group-item"><strong>Пользователь системы рассылки:</strong> {{object.owner}}.</li>
                </ul>
                <div class="card-body">
                    <td>
                      <button class="btn btn-primary btn-sm me-2" href="{% url 'mailings:MailingUpdateView' object.pk %}">Редактировать</button>
                      <button class="btn btn-danger btn-sm" href="{% url 'mailings:MailingDeleteView' object.pk %}">Удалить</button>
                    </td>
                    <a href="{% url 'mailings:MailingListView' %}" class="btn btn-secondary">Назад к списку</a>
                </div>
            </div>
        </div>
{% endblock %}